#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; 
  text-align: center;
  background-color: black ;
  color: aliceblue;
}

.navbar {
  border: solid white;
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
} 

 


.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 170px;
  display: inline-block;
  margin-top: 40px;
  
}



.card .card-image {

  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.class .card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

 
.btn {
  margin-top: 20px;
}

#cinema {
  width: 600px;
  height: 350px;
}


.clock-container{

  


}


.clock {
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
  
  
}





